

.pers {
  display: none; 
  position: absolute;
  width: 30%;
  height: 200px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10;  
  border-radius: 5px;
  z-index: -1;
  background: gray;
  padding: 20px;
}

.active{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}
